* {
	box-sizing: border-box !important;
}

.sign-up {
	background-image: url(../../images/biography-bg.png);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: bottom;
	height: 90vh;
	box-sizing: content-box;
}

.sign-up form {
	max-width: 400px;
	margin: 0 auto;
}
.sign-up .form-control {
	background: #f5f5f5;
	border: none;
	padding: 25px 15px !important;
}
.error {
	color: red;
}

.sign-up .option label {
	color: red;
	cursor: pointer;
}
